---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-900
---

<x-main>
  <div class="relative bg-gray-900 sm:px-4 font-sans h-screen">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <a href="https://www.pythoncheatsheet.org">
              <img src="https://www.pythoncheatsheet.org/mstile-144x144.png" width="50" alt="Python Cheatsheet">
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td class="px-12 pb-12 sm:px-6 text-base text-slate-300 rounded shadow-sm">
                <h1 class="m-0 mb-6 text-2xl sm:leading-8 text-slate-200 font-semibold text-center">
                  Confirm your subscription
                </h1>

                <p class="m-0 leading-6 text-center">
                  Please confirm your email address by clicking the button below
                </p>

                <x-spacer height="24px" />

                <x-button href="https://www.pythoncheatsheet.org/" align="center">
                  Confirm email address &rarr;
                </x-button>

                <x-divider space-y="32px" class="bg-slate-700" />

                <p class="m-0 text-slate-400 text-center">
                  If you didn't sign up for Python Cheatsheet, you can safely ignore this email. To contact the owner of
                  this list, email <a class="text-sky-500"
                    href="mailto:carlos@pythoncheatsheet.org">carlos@pythoncheatsheet.org</a>
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-5">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-400 text-xs px-6">
                <p class="m-0 mb-2 uppercase">
                  Powered by Grudget
                </p>

                <p class="m-0 italic mb-5">
                  Python Cheatsheet Newsletter Platform
                </p>

                <p class="cursor-default">
                  <a href="https://www.pythoncheatsheet.org"
                    class="text-sky-500 [text-decoration:none] hover:![text-sky-400]">Python
                    Cheatsheet</a>
                  &bull;
                  <a href="https://github.com/wilfredinni/python-cheatsheet"
                    class="text-sky-500 [text-decoration:none] hover:![text-sky-400]">Github</a>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
